<div class="container">
    <div class="width100">
        <p>
            <div class="width20"><strong>Total Flight Time:</strong></div>
            <div class="width20 rightAlign">{{ $userItinerariesCtrl.totalFlightTime }}</div>
        </p>
        <p>
            <div class="width20"><strong>Total Layover Time:</strong></div>
            <div class="width20 rightAlign">{{ $userItinerariesCtrl.totalLayoverTime }}</div>
        </p>
    </div>
    <p><input type="text" size="20" ng-model="$userItinerariesCtrl.origin" placeholder="Origin" ng-change="$userItinerariesCtrl.searchUserItineraries()"></input>
    </p>
    <p><input type="text" size="20" ng-model="$userItinerariesCtrl.destination" placeholder="Destination" ng-change="$userItinerariesCtrl.searchUserItineraries()"></input>
    </p>
    <div ng-repeat="itinerary in $userItinerariesCtrl.itineraries">
        <user-itinerary-component itinerary="itinerary"></user-itinerary-component>
    </div>
</div>