<table class="table table-bordered">
    <thead>
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Time</th>
            <th>Departure Time</th>
            <th>Layover Time</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="flight in $userItineraryCtrl.itinerary.itinerary">
            <td>{{ flight.origin | firstUpperRestLower }}</td>
            <td>{{ flight.destination | firstUpperRestLower }}</td>
            <td>{{ flight.flightTime }}</td>
            <td>{{ flight.offset }}</td>
            <td>{{ flight.layoverTime }}</td>
        </tr>
        <tr>
            <th>Total Flight Time</th>
            <td>{{ $userItineraryCtrl.totalFlightTime }}</td>
        </tr>
        <tr>
            <th>Total Layover Time</th>
            <td>{{ $userItineraryCtrl.totalLayoverTime }}</td>
        </tr>
        <tr>
            <td ng-if="!$userItineraryCtrl.mapisShown"><button ng-click="$userItineraryCtrl.showMap()">Show Map</button></td>
            <td ng-if="$userItineraryCtrl.mapisShown"><button ng-click="$userItineraryCtrl.hideMap()">Hide Map</button></td>
        </tr>
    </tbody>
</table>

<div ng-if="$userItineraryCtrl.mapisShown">
    <flight-map flights="$userItineraryCtrl.itinerary.itinerary"></flight-map>
</div>