<table class="table borderTable">
    <thead>
        <tr class="horiz vertical">
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Time</th>
            <th>Departure Time</th>
            <th>Layover Time</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="flight in $userItineraryCtrl.itinerary.itinerary" class="horiz vertical">
            <td>{{ flight.origin | firstUpperRestLower }}</td>
            <td>{{ flight.destination | firstUpperRestLower }}</td>
            <td class="rightAlign">{{ flight.flightTime }}</td>
            <td class="rightAlign">{{ flight.offset }}</td>
            <td class="rightAlign">{{ flight.layoverTime }}</td>
        </tr>
        <tr class="noHorizBottom">
            <th class="verticalLeft">Total Flight Time</th>
            <td class="rightAlign">{{ $userItineraryCtrl.itinerary.totalFlightTime }}</td>
            <td colspan="2"></td>
            <td class="verticalRight"></td>
        </tr>
        <tr class="noHorizBottom noHorizTop">
            <th class="verticalLeft">Total Layover Time</th>
            <td class="rightAlign">{{ $userItineraryCtrl.itinerary.totalLayoverTime }}</td>
            <td colspan="2"></td>
            <td class="verticalRight"></td>
        </tr>
        <tr class="horiz">
            <td class="verticalLeft" ng-if="!$userItineraryCtrl.mapisShown">
                <button class="btn btn-default" ng-click="$userItineraryCtrl.showMap()">Show Map</button>
            </td>
            <td class="verticalLeft" ng-if="$userItineraryCtrl.mapisShown">
                <button class="btn btn-default" ng-click="$userItineraryCtrl.hideMap()">Hide Map</button>
            </td>
            <td colspan="3"></td>
            <td class="verticalRight"></td>
        </tr>
        <tr class="vertical horiz" ng-if="$userItineraryCtrl.mapisShown">
            <td colspan="5"><flight-map flights="$userItineraryCtrl.itinerary.itinerary"></flight-map></td>
        </tr>
    </tbody>
</table>