<div class="container">
        <p><input type="text" size="20" ng-model="$itineraryListCtrl.origin" ng-change="$itineraryListCtrl.changedSearch()"
                        placeholder="Origin"></input>
        </p>
        <p><input type="text" size="20" ng-model="$itineraryListCtrl.destination" ng-change="$itineraryListCtrl.changedSearch()"
                        placeholder="Destination"></input>
        </p>
        <div class="marginBottom">
                <button class="btn btn-default" ng-click="$itineraryListCtrl.getItineraries()">Search</button>
        </div>
        <div ng-repeat="itinerary in $itineraryListCtrl.itineraries">
                <itinerary-component itinerary="itinerary"></itinerary-component>
        </div>
        <div class="lead" ng-if="$itineraryListCtrl.noRoutes">
                No routes available from "{{ $itineraryListCtrl.origin | firstUpperRestLower }}" to "{{ $itineraryListCtrl.destination |
                firstUpperRestLower }}"
        </div>

</div>