<div>
        <p>Origin: <input type="text" size="20" ng-model="$itineraryListCtrl.origin" ng-change="$itineraryListCtrl.changedSearch()"></input>
        </p>
        <p>Destination: <input type="text" size="20" ng-model="$itineraryListCtrl.destination" ng-change="$itineraryListCtrl.changedSearch()"></input>
        </p>
        <button ng-click="$itineraryListCtrl.getItineraries()">Search</button>
        <div ng-repeat="itinerary in $itineraryListCtrl.itineraries">
                <itinerary-component itinerary="itinerary"></itinerary-component>
        </div>
        <div ng-if="$itineraryListCtrl.noRoutes">
                No routes available from "{{ $itineraryListCtrl.origin | firstUpperRestLower }}" to "{{ $itineraryListCtrl.destination | firstUpperRestLower }}"
        </div>
        
</div>