<table class="table table-bordered">
    <thead>
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Time</th>
            <th>Departure Time</th>
            <th>Map</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="flight in $flightListCtrl.flights">
            <td>{{ flight.origin | firstUpperRestLower }}</td>
            <td>{{ flight.destination | firstUpperRestLower }}</td>
            <td>{{ flight.flightTime }}</td>
            <td>{{ flight.offset }}</td>
        </tr>
    </tbody>
</table>