<table class="table table-bordered">
    <thead>
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Time</th>
            <th>Departure Time</th>
            <th>Layover Time</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="flight in $itineraryCtrl.itinerary.itinerary">
            <td>{{ flight.origin | firstUpperRestLower }}</td>
            <td>{{ flight.destination | firstUpperRestLower }}</td>
            <td>{{ flight.flightTime }}</td>
            <td>{{ flight.offset }}</td>
            <td>{{ flight.layoverTime }}</td>

        </tr>
        <tr>
            <td ng-if="!$itineraryCtrl.mapisShown"><button ng-click="$itineraryCtrl.showMap()">Show Map</button></td>
            <td ng-if="$itineraryCtrl.mapisShown"><button ng-click="$itineraryCtrl.hideMap()">Hide Map</button></td>
            <td><button ng-click="$itineraryCtrl.bookItinerary()">Book Itinerary</button></td>
            <td><button ng-click="$itineraryCtrl.unbookItinerary()">Unbook Itinerary</button></td>
        </tr>
    </tbody>
</table>

<div ng-if="$itineraryCtrl.mapisShown">
    <flight-map flights="$itineraryCtrl.itinerary.itinerary"></flight-map>
</div>


