<div>
        <p>Origin: <input type="text" size="20" ng-model="$itineraryCtrl.origin"></input>
        </p>
        <p>Destination: <input type="text" size="20" ng-model="$itineraryCtrl.destination"></input>
        </p>
        <button ng-click="$itineraryCtrl.getItineraries()">Search</button>
        <div ng-repeat="flights in $itineraryCtrl.itineraries">
                <flight-list-component flights="flights"></flight-list-component>
        </div>
        <div ng-if="$itineraryCtrl.noRoutes">
                No routes available from {{ $itineraryCtrl.origin | firstUpperRestLower }} to {{ $itineraryCtrl.destination | firstUpperRestLower }}
        </div>
</div>